spring:
  datasource:
    url: jdbc:mysql://${DATABASE_HOST}:${DATABASE_PROD_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enable: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_URI}
  mail:
    host: smtp.gmail.com
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false

springdoc:
    api-docs:
      path: /api-docs

keycloak:
  base-url: ${KEYCLOAK_SERVER_URL:http://localhost:8090/}
  realm: ${REALM_NAME:market-realm}
  admin-realm: ${ADMIN_REALM:master}
  master-cli-id: ${MASTER_CLIENT_ID:admin-cli}
  client-id: ${KEYCLOAK_CLIENT_ID:spring-boot-api}
  client-secret: ${SECRET_CLIENT}
  admin:
    username: admin
    password: admin

aws:
  s3:
    bucket: ${BUCKET_NAME}
    region: ${REGION_NAME}



