spring:
  datasource:
    url: jdbc:mysql://${DATABASE_HOST}:${DATABASE_PROD_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enable: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_URI}
  mail:
    host: smtp.gmail.com
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
    api-docs:
      path: /api-docs

keycloak:
  base-url: ${keycloak-url:http://localhost:8090}
  realm: ${realm-name:market-realm}
  client-id: ${client-id:spring-boot-api}
  client-secret: ${secret-client}
  admin:
    username: admin
    password: admin



