body{
 width:100vw;
 height:100vh;
 margin: 0;
 padding: 0;
 display:grid;
 align-items:center;
 justify-content: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header{
       font-size: 20px;
       font-weight: bold;
       color: #111111;
}
.sub-header{
        font-size: 15px;
        color: #424040;
        text-align: center;
}

.button {
        display: inline-block;
        background-color: #0057FF;
        color: white !important;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        margin: 25px 0 25px 0;
}
.mail-body{
        display: grid;
        width: 400px;
        padding: 5px;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 2px 2px 50px 2px #ADAAA8;
        justify-items: center;
        background-color: #FAFFFA;
        gap: 5px;


}

.logo{
    width: 10em;
    height: 8em;
    mix-blend-mode: darken;
}