<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Booking Confirmation</h2>
<p>Booking ID: <span th:text="${booking.bookingId}">ABC-001</span></p>
<table>
    <tr><th>Service</th><th>Start Time</th><th>End Time</th><th>Price</th></tr>
    <tr th:each="line : ${booking.job}">
        <td th:text="${job.jobs}">Service</td>
        <td th:text="${job.startTime}">07:00:AM</td>
        <td th:text="${job.endTime}">05:00:PM</td>
        <td th:text="${job.price}">$0.00</td>
    </tr>
    <tr>
        <td colspan="2">Starting Date</td>
        <td th:text="${booking.startDate}">07/07/25</td>
    </tr>
    <tr>
        <td colspan="2">end Date</td>
        <td th:text="${booking.endDate}">10/07/25</td>
    </tr>
    <tr>
        <td colspan="2">Total</td>
        <td th:text="${booking.total}">$0.00</td>
    </tr>
</table>
</body>
</html>
